<div class="card">
  <h1>O que é o Sensor digital biométrico de impressão digital?</h1>
  <h2>O que é Biometria?</h2>
  <p>
    Biometria é um estudo estatístico usado para diferenciar e identificar uma
    pessoa com base em características, baseando-se na premissa de que cada
    pessoa possui características diferentes. Neste tutorial será abordada a
    implementação de um sensor biométrico de impressão digital, porém não
    devemos ter a ideia de que biometria está sempre ligada às marcas do dedo,
    pois também pode estar ligada à reconhecimento facial, impressão da retina,
    da palma da mão, do pé, estilo de escrita e até de comportamentos.
  </p>

  <h2>Biometria na tecnologia</h2>
  <p>
    É fácil ver que a biometria pode tornar o mundo mais simples de diversas
    formas. Como cada indivíduo tem características únicas, hoje é possível
    construir sistemas de segurança e cadastros baseados em coleta de dados
    biométricos. Isto está bem presente, por exemplo, na maioria dos smartphones
    modernos que vêm com sensor de impressão digital para permitir ou não o
    acesso de um usuário.
  </p>

  <h2>Biometria com impressão digital</h2>
  <p>
    Sem dúvidas o sistema biométrico mais utilizado hoje é o que se baseia na
    impressão digital de um individuo. Isto acontece pois é sabido que a
    <span class="bold">coleta</span>
    da imagem do dedo de uma pessoa é extremamente rápida (bem como a
    <span class="bold">busca</span> no banco de dados), a
    <span class="bold">confiabilidade</span> de que aquela impressão digital não
    pode ser confundida é alta e a implementação das tecnologias necessárias tem
    um <span class="bold">custo</span> muito baixo se comparado aos outros tipos
    de sistemas biométricos.
  </p>

  <h2>Módulo Sensor AS608</h2>
  <p>
    O sensor de impressão digital AS608 foi utilizado nos exemplos a seguir.
    Este sensor se comunica com o arduino via interface serial, funcionando com
    tensão de 3.6 a 6 VDC e capaz de armazenar até 200 digitais. Além disso,
    possui várias funções que são úteis para as mais diversas aplicações, como
    registro, comparação e busca
  </p>
  <!-- <app-custom-image src="../../../assets/images/modulo.jpg"> -->
</div>
