@import "/src/styles/settings/variables";

.logo {

}

.text {
  opacity: 0.6;
  transition: opacity 0.35s, transform 0.35s;
  font-size: 1.6em;
  margin: 20px;
  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }

  a {
    color: white;
    text-decoration: none;
    position: relative;
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    transition: 0.35s;
  }
  a:hover {
    font-size: 17px;
  }
}

a.effect-underline:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
